%h1.page-header
  What musical instruments we buy?
  %br
  %small Top Dollar For Your Musical Items and DJ Equipment In NYC | Bronx | Queens | Brooklyn | Long Island 
  %h2
    %span 
      = "."
  %p.lead
    %span 
      = "If you didn't find your item of brand here, it does not mean we will not buy it, just give us a call."
  %p.lead
    %span
      = "."   
  %p.lead
    %span
      = "."
  %img.img-responsive{:alt => "", :src => "/ph.jpg"}
%hr